Repository typelevel/cats-tagless: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label docs PRs, Label laws PRs, Label macros PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label laws PRs:
  label:
    add:
    - laws
    remove: []

Label macros PRs:
  label:
    add:
    - macros
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

githubWorkflowGenerate
  .github/workflows/ci.yml
Due: none

Update build.sbt
  build.sbt
Due: none

Address some of the review comments
  core/src/main/scala/cats/tagless/FunctionKLift.scala
  laws/src/main/scala-2.12/cats/tagless/laws/discipline/AspectTests.scala
  laws/src/main/scala-2.12/cats/tagless/laws/discipline/FunctorKTests.scala
  laws/src/main/scala-2.12/cats/tagless/laws/discipline/InstrumentTests.scala
  laws/src/main/scala-2.13+/cats/tagless/laws/discipline/ContravariantKTests.scala
  laws/src/main/scala-2.13+/cats/tagless/laws/discipline/InstrumentTests.scala
  laws/src/main/scala-2.13+/cats/tagless/laws/discipline/InvariantKTests.scala
  laws/src/main/scala-2.13+/cats/tagless/laws/discipline/SemigroupalKTests.scala
  laws/src/main/scala/cats/tagless/laws/discipline/ApplyKTests.scala
  laws/src/main/scala/cats/tagless/laws/discipline/AspectTests.scala
  laws/src/main/scala/cats/tagless/laws/discipline/ContravariantKTests.scala
  laws/src/main/scala/cats/tagless/laws/discipline/FunctorKTests.scala
  laws/src/main/scala/cats/tagless/laws/discipline/InstrumentTests.scala
  laws/src/main/scala/cats/tagless/laws/discipline/InvariantKTests.scala
  laws/src/main/scala/cats/tagless/laws/discipline/SemigroupalKTests.scala
Due: Label core PRs, Label laws PRs

fmt
  core/src/main/scala/cats/tagless/FunctionKLift.scala
Due: Label core PRs

Add curried type aliases
  core/src/main/scala/cats/tagless/Curried.scala
  core/src/main/scala/cats/tagless/InvariantK.scala
  core/src/main/scala/cats/tagless/SemigroupalK.scala
Due: Label core PRs

Renaming
  core/src/main/scala/cats/tagless/Curried.scala
  core/src/main/scala/cats/tagless/InvariantK.scala
Due: Label core PRs

Skip publish macros project
  build.sbt
Due: none

Simplify build.sbt
  build.sbt
Due: none

Update tlBaseVersion
  build.sbt
Due: none

Bump Scala version up to 3.3.0
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Skip macros mima check for scala 3.x
  build.sbt
Due: none

Update scala3-library, ... to 3.3.0 (#429)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

check binary compatibility with v0.14.0 wherever possible
  build.sbt
Due: none

check binary compatibility with v0.14.0 wherever possible (#430)
  build.sbt
Due: none

Add explicit type annotation to implicit
  tests/src/test/scala-2/cats/tagless/tests/autoApplyKTests.scala
Due: Label tests PRs

Update microsite to compile with Scala 2.13.11
  docs/docs/faq.md
  docs/docs/typeclasses.md
Due: Label docs PRs

Simplify ValidationExample
  examples/src/main/scala/cats/tagless/example/ValidationExample.scala
Due: none

Cache and validation examples were added
  examples/src/main/scala/cats/tagless/example/CacheExample.scala
  examples/src/main/scala/cats/tagless/example/ValidationExample.scala
Due: none

Added examples project https://github.com/typelevel/cats-tagless/issues/35
  build.sbt
  examples/src/main/scala/cats/tagless/example/AutoFlatMapExample.scala
  examples/src/main/scala/cats/tagless/example/AutoFunctorKExample.scala
  examples/src/main/scala/cats/tagless/example/FreeExample.scala
  examples/src/main/scala/cats/tagless/example/VerticalCompositionExample.scala
Due: none

Added examples project https://github.com/typelevel/cats-tagless/issues/35 fixed errors
  .github/workflows/ci.yml
  .mergify.yml
  examples/src/main/scala/cats/tagless/example/AutoFunctorKExample.scala
Due: none

Move scamples to scala-2 folder
  examples/src/main/scala-2/cats/tagless/example/AutoFlatMapExample.scala
  examples/src/main/scala-2/cats/tagless/example/AutoFunctorKExample.scala
  examples/src/main/scala-2/cats/tagless/example/CacheExample.scala
  examples/src/main/scala-2/cats/tagless/example/FreeExample.scala
  examples/src/main/scala-2/cats/tagless/example/ValidationExample.scala
  examples/src/main/scala-2/cats/tagless/example/VerticalCompositionExample.scala
Due: none

Added examples project (#418)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  examples/src/main/scala-2/cats/tagless/example/AutoFlatMapExample.scala
  examples/src/main/scala-2/cats/tagless/example/AutoFunctorKExample.scala
  examples/src/main/scala-2/cats/tagless/example/CacheExample.scala
  examples/src/main/scala-2/cats/tagless/example/FreeExample.scala
  examples/src/main/scala-2/cats/tagless/example/ValidationExample.scala
  examples/src/main/scala-2/cats/tagless/example/VerticalCompositionExample.scala
Due: none

Fix microsite links
  docs/docs/index.md
Due: Label docs PRs

Fix microsite links (#437)
  docs/docs/index.md
Due: Label docs PRs

Support Semigroupal for more complex types
  examples/src/main/scala-2/cats/tagless/example/ValidationExample.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupalTests.scala
Due: Label macros PRs, Label tests PRs

Support Semigroupal for more complex types (#438)
  examples/src/main/scala-2/cats/tagless/example/ValidationExample.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupalTests.scala
Due: Label macros PRs, Label tests PRs

Quality of life improvements in DeriveMacros
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
Due: Label macros PRs

Quality of life improvements in DeriveMacros (#439)
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
Due: Label macros PRs

Fix FunctorK when F occurs only in contravariant position
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  tests/src/test/scala-2/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupalTests.scala
Due: Label macros PRs, Label tests PRs

Scala3 Macros prototypes
  core/src/main/scala-3/cats/tagless/derived/DerivedApplyK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedContravariantK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedFunctorK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/Utils.scala
  core/src/main/scala-3/cats/tagless/macros/macroApplyK.scala
  core/src/main/scala-3/cats/tagless/macros/macroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/macroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/macroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/SemigroupalKSpec.scala
  tests/src/test/scala/cats/tagless/tests/CatsTaglessTestSuite.scala
  tests/src/test/scala/cats/tagless/tests/OptimizerPrograms.scala
  tests/src/test/scala/cats/tagless/tests/OptimizerTests.scala
Due: Label core PRs, Label tests PRs

Path conditions:
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label laws PRs: any of: ^laws/
  Label macros PRs: any of: ^macros/
  Label tests PRs: any of: ^tests/
