Repository typelevel/cats-tagless: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label data PRs, Label docs PRs, Label examples PRs, Label fs2 PRs, Label laws PRs, Label macros PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label data PRs:
  label:
    add:
    - data
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label examples PRs:
  label:
    add:
    - examples
    remove: []

Label fs2 PRs:
  label:
    add:
    - fs2
    remove: []

Label laws PRs:
  label:
    add:
    - laws
    remove: []

Label macros PRs:
  label:
    add:
    - macros
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Bump Scala to 3.6, drop one hack
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoBifunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFlatMapTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInstrumentTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoMonoidKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoProfunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalTests.scala
  tests/src/test/scala-3/cats/tagless/tests/experimental.scala
  tests/src/test/scala/cats/tagless/tests/ConstTests.scala
  tests/src/test/scala/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label tests PRs

Scala 3.7
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ApplyKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ContravariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/FunctorKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/InvariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/SemigroupalKSuite.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label tests PRs

Drop implicit scope hack
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
Due: Label core PRs

Not fatal warnings on Scala.js
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  tests/src/test/scala-3/cats/tagless/data/tests/SemigroupalKSuite.scala
Due: Label core PRs, Label tests PRs

Scala 3.8
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Upgrade dependencies for Scala Native 0.5
  .github/workflows/ci.yml
  .jvmopts
  build.sbt
  project/plugins.sbt
Due: none

Fix MiMa settings
  build.sbt
Due: none

Upgrade dependencies for Scala Native 0.5 (#679)
  .github/workflows/ci.yml
  .jvmopts
  build.sbt
  project/plugins.sbt
Due: none

Scala 3.8
  .github/workflows/ci.yml
  .jvmopts
  .mergify.yml
  build.sbt
Due: none

Reenable fs2 native build again
  .github/workflows/ci.yml
  build.sbt
Due: none

Reenable fs2 native build again (#682)
  .github/workflows/ci.yml
  build.sbt
Due: none

Fix scala 3 options
  build.sbt
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label tests PRs

Scala 3.7
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ApplyKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ContravariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/FunctorKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/InvariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/SemigroupalKSuite.scala
Due: Label core PRs, Label tests PRs

Path conditions:
  Label core PRs: any of: ^core/
  Label data PRs: any of: ^data/
  Label docs PRs: any of: ^docs/
  Label examples PRs: any of: ^examples/
  Label fs2 PRs: any of: ^fs2/
  Label laws PRs: any of: ^laws/
  Label macros PRs: any of: ^macros/
  Label tests PRs: any of: ^tests/
