Repository typelevel/cats-tagless: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label docs PRs, Label examples PRs, Label fs2 PRs, Label laws PRs, Label macros PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=typelevel-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@8, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@8, rootNative)
  - status-success=Build and Test (ubuntu-latest, 2.13.11, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.11, temurin@8, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.13.11, temurin@8, rootNative)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@8, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@8, rootNative)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label examples PRs
  conditions:
  - files~=^examples/
  actions:
    label:
      add:
      - examples
      remove: []
- name: Label fs2 PRs
  conditions:
  - files~=^fs2/
  actions:
    label:
      add:
      - fs2
      remove: []
- name: Label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add:
      - laws
      remove: []
- name: Label macros PRs
  conditions:
  - files~=^macros/
  actions:
    label:
      add:
      - macros
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^tests/
  actions:
    label:
      add:
      - tests
      remove: []

Stricter arg type matching for SemigroupalK and Semigroupal
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
Due: Label core PRs

[Scala 3] Derive Semigroupal (#539)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive Apply
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApplyK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive Apply (#540)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApplyK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive SemigroupK
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoProfunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive SemigroupK (#541)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoProfunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive MonoidK
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroMonoidK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoMonoidKTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive MonoidK (#542)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroMonoidK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoMonoidKTests.scala
Due: Label core PRs, Label tests PRs

Pass definition symbol to transform functions
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroMonoidK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
Due: Label core PRs

[Scala 3] Derive FlatMap
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFlatMapTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive FlatMap (#543)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroMonoidK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFlatMapTests.scala
Due: Label core PRs, Label tests PRs

[Scala 2] Use Semigroup to combine constant types in Apply
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
Due: Label macros PRs

[Scala 2] Use Semigroup to combine constant types in Apply (#544)
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
Due: Label macros PRs

[Scala 3] Some refactoring to simplify helper methods
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroMonoidK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
Due: Label core PRs

[Scala 3] Some refactoring to simplify helper methods (#545)
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroMonoidK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
Due: Label core PRs

Unify error messages between Scala 2 and Scala 3
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
Due: Label core PRs, Label macros PRs

Unify error messages between Scala 2 and Scala 3 (#546)
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
Due: Label core PRs, Label macros PRs

Reproduce asQuotes issue
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
Due: Label core PRs

Add macro for autoderiving Instrument in Scala 3
  core/src/main/scala-2/cats/tagless/derived/DerivedInstrument.scala
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedInstrument.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
  core/src/main/scala/cats/tagless/aop/Instrument.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInstrumentTests.scala
Due: Label core PRs, Label tests PRs

Format sources
  core/src/main/scala-2/cats/tagless/derived/DerivedInstrument.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
Due: Label core PRs

Slightly better error handling
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
Due: Label core PRs

Use subtyping in the macro guard
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
Due: Label core PRs

Add macro for autoderiving Instrument in Scala 3 (#554)
  core/src/main/scala-2/cats/tagless/derived/DerivedInstrument.scala
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedInstrument.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
  core/src/main/scala/cats/tagless/aop/Instrument.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInstrumentTests.scala
Due: Label core PRs, Label tests PRs

Attempt at implementing autoderivation for the Aspect type class
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/aop/AspectSupport.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label tests PRs

Remove unnecessary code
  core/src/main/scala-3/cats/tagless/aop/AspectSupport.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
Due: Label core PRs

Implementation for auto derivation of ReaderT in Scala 3
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
Due: Label core PRs, Label tests PRs

No need to change owner
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
Due: Label core PRs

Remove unused imports
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
Due: Label tests PRs

Format sources
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
Due: Label tests PRs

Simplify ReaderT macro
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
Due: Label core PRs, Label tests PRs

Auto derive Scala 3 macro for ReaderT (#557)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
Due: Label core PRs, Label tests PRs

Add derivation for Const and Void
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  tests/src/test/scala/cats/tagless/tests/ConstTests.scala
Due: Label core PRs, Label tests PRs

Try to make code a bit more dry
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
Due: Label core PRs

Reuse newClassOf in other places
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
Due: Label core PRs

Add more ergonomics
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
Due: Label core PRs

Remove FunctionKLift
  core/src/main/scala/cats/tagless/FunctionKLift.scala
  core/src/main/scala/cats/tagless/SemigroupalK.scala
  core/src/main/scala/cats/tagless/aop/Aspect.scala
  laws/src/main/scala/cats/tagless/laws/AspectLaws.scala
  laws/src/main/scala/cats/tagless/laws/InstrumentLaws.scala
  laws/src/main/scala/cats/tagless/laws/discipline/SemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala/cats/tagless/tests/CatsTaglessTestSuite.scala
  tests/src/test/scala/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label laws PRs, Label tests PRs

Exclude FunctionKLift from the mima checks
  build.sbt
Due: none

Replace FunctionKLift with FunctionK.liftFunction (#561)
  build.sbt
  core/src/main/scala/cats/tagless/FunctionKLift.scala
  core/src/main/scala/cats/tagless/SemigroupalK.scala
  core/src/main/scala/cats/tagless/aop/Aspect.scala
  laws/src/main/scala/cats/tagless/laws/AspectLaws.scala
  laws/src/main/scala/cats/tagless/laws/InstrumentLaws.scala
  laws/src/main/scala/cats/tagless/laws/discipline/SemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala/cats/tagless/tests/CatsTaglessTestSuite.scala
  tests/src/test/scala/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label laws PRs, Label tests PRs

[Scala 3] Add derivation for Const and Void (#560)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
  tests/src/test/scala/cats/tagless/tests/ConstTests.scala
Due: Label core PRs, Label tests PRs
