Repository typelevel/cats-tagless: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label docs PRs, Label examples PRs, Label fs2 PRs, Label laws PRs, Label macros PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=typelevel-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@8, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@8, rootNative)
  - status-success=Build and Test (ubuntu-latest, 2.13.11, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.11, temurin@8, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.13.11, temurin@8, rootNative)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@8, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@8, rootNative)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label examples PRs
  conditions:
  - files~=^examples/
  actions:
    label:
      add:
      - examples
      remove: []
- name: Label fs2 PRs
  conditions:
  - files~=^fs2/
  actions:
    label:
      add:
      - fs2
      remove: []
- name: Label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add:
      - laws
      remove: []
- name: Label macros PRs
  conditions:
  - files~=^macros/
  actions:
    label:
      add:
      - macros
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^tests/
  actions:
    label:
      add:
      - tests
      remove: []

Remove unnecessary code
  core/src/main/scala-3/cats/tagless/aop/AspectSupport.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
Due: Label core PRs

Move individual quotes to single functions
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
Due: Label core PRs

Comment unsupported tests
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label tests PRs

Autoderive for the GeoAlgebra algebra
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label tests PRs

Remove unused imports
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label tests PRs

Add support for deriving Const and Void
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label tests PRs

Revert "Add support for deriving Const and Void"
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label tests PRs

MacroConst readable errors
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  tests/src/test/scala/cats/tagless/tests/ConstTests.scala
Due: Label core PRs, Label tests PRs

Enable test based on const
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label tests PRs

Improve MacroReaderT errors
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
Due: Label core PRs, Label tests PRs

NotSimpleAlg => UnSafeAlg
  tests/src/test/scala/cats/tagless/tests/ConstTests.scala
Due: Label tests PRs

[Scala 3] MacroConst and MacroReaderT Errors readability improvement (#562)
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
  tests/src/test/scala/cats/tagless/tests/ConstTests.scala
Due: Label core PRs, Label tests PRs

Simplify MacroAspect
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
Due: Label core PRs

[Scala 3] Autoderivation for the Aspect type class (#556)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label tests PRs

Remove unused import
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
Due: Label tests PRs

Support type members (requires Scala 3.6)
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoBifunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFlatMapTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInstrumentTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoMonoidKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoProfunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalTests.scala
  tests/src/test/scala-3/cats/tagless/tests/experimental.scala
  tests/src/test/scala/cats/tagless/tests/ConstTests.scala
  tests/src/test/scala/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label tests PRs

Scala 3.6.2
  build.sbt
Due: none

Move IdK instance to implicit scope
  build.sbt
  core/src/main/scala/cats/tagless/InvariantK.scala
  core/src/main/scala/cats/tagless/SemigroupalK.scala
  core/src/main/scala/cats/tagless/package.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInstrumentTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
Due: Label core PRs, Label tests PRs

Move IdK instance to implicit scope (#587)
  build.sbt
  core/src/main/scala/cats/tagless/InvariantK.scala
  core/src/main/scala/cats/tagless/SemigroupalK.scala
  core/src/main/scala/cats/tagless/package.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInstrumentTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
Due: Label core PRs, Label tests PRs

Fix remaining Aspect issues on Scala 3
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  tests/src/test/scala-2/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label tests PRs

Fix remaining Aspect issues on Scala 3 (#588)
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  tests/src/test/scala-2/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label tests PRs

Support type members in a hacky way
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
Due: Label core PRs, Label tests PRs

Support type members in a hacky way (#589)
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
Due: Label core PRs, Label tests PRs

Bump Scala to 3.6, drop one hack
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoBifunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFlatMapTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInstrumentTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoMonoidKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoProfunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalTests.scala
  tests/src/test/scala-3/cats/tagless/tests/experimental.scala
  tests/src/test/scala/cats/tagless/tests/ConstTests.scala
  tests/src/test/scala/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label tests PRs

Add data module with shapeless-3
  build.sbt
  data/src/main/scala-3/cats/tagless/data/Derived.scala
  data/src/main/scala-3/cats/tagless/data/DerivedApplyK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedContravariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedFunctorK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedInvariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedSemigroupalK.scala
Due: none

Add data module with shapeless-3
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  data/src/main/scala-3/cats/tagless/data/Derived.scala
  data/src/main/scala-3/cats/tagless/data/DerivedApplyK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedContravariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedFunctorK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedInvariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedSemigroupalK.scala
Due: none

Update data module so we can use derived
  build.sbt
  core/src/main/scala-3/cats/tagless/derived/Derived.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedApplyK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedContravariantK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedFunctorK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedInvariantK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedSemigroupalK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedApplyK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedContravariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedFunctorK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedInvariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedSemigroupalK.scala
  data/src/main/scala-3/cats/tagless/data/package.scala
Due: Label core PRs

Use tlIsScala3
  build.sbt
Due: none

fix(scala3): annotation on FunctorK macro splice
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
Due: Label core PRs

Reproduce asQuotes issue
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
Due: Label core PRs

Use asQuotes
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
Due: Label core PRs

Use tlIsScala3
  build.sbt
  core/src/main/scala-3/cats/tagless/derived/Derived.scala
Due: Label core PRs

Align Derived with Shapeless
  build.sbt
  core/src/main/scala-3/cats/tagless/derived/Derived.scala
  data/src/main/scala-3/cats/tagless/data/DerivedApplyK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedContravariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedFunctorK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedInvariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedSemigroupalK.scala
Due: Label core PRs
