Repository typelevel/cats-tagless: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label data PRs, Label docs PRs, Label examples PRs, Label fs2 PRs, Label laws PRs, Label macros PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label data PRs:
  label:
    add:
    - data
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label examples PRs:
  label:
    add:
    - examples
    remove: []

Label fs2 PRs:
  label:
    add:
    - fs2
    remove: []

Label laws PRs:
  label:
    add:
    - laws
    remove: []

Label macros PRs:
  label:
    add:
    - macros
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Add tests for data module
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala/cats/tagless/package.scala
  data/src/main/scala-3/cats/tagless/data/DerivedApplyK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedContravariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedFunctorK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedInvariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ApplyKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ContravariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/FunctorKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/InvariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/SemigroupalKSuite.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
  tests/src/test/scala/cats/tagless/tests/CatsTaglessTestSuite.scala
Due: Label core PRs, Label data PRs, Label tests PRs

Add data module with shapeless-3 (#591)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  core/src/main/scala-3/cats/tagless/derived/Derived.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedApplyK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedContravariantK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedFunctorK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedInvariantK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedSemigroupalK.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala/cats/tagless/package.scala
  data/src/main/scala-3/cats/tagless/data/DerivedApplyK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedContravariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedFunctorK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedInvariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedSemigroupalK.scala
  data/src/main/scala-3/cats/tagless/data/package.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ApplyKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ContravariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/FunctorKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/InvariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/SemigroupalKSuite.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
  tests/src/test/scala/cats/tagless/tests/CatsTaglessTestSuite.scala
Due: Label core PRs, Label data PRs, Label tests PRs

Replace usages of changeOwner
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
Due: Label core PRs

Replace usages of changeOwner (#620)
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  core/src/main/scala-3/cats/tagless/macros/MacroReaderT.scala
Due: Label core PRs

Even less braces
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroMonoidK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
Due: Label core PRs

Even less braces (#621)
  core/src/main/scala-3/cats/tagless/macros/MacroApply.scala
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFlatMap.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroMonoidK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
Due: Label core PRs

Bump Scala to 3.6, drop one hack
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala-3/cats/tagless/tests/ReaderTTests.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoBifunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFlatMapTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInstrumentTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoMonoidKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoProfunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalTests.scala
  tests/src/test/scala-3/cats/tagless/tests/experimental.scala
  tests/src/test/scala/cats/tagless/tests/ConstTests.scala
  tests/src/test/scala/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label tests PRs

Scala 3.7
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
  project/plugins.sbt
  tests/src/test/scala-3/cats/tagless/data/tests/ApplyKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ContravariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/FunctorKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/InvariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/SemigroupalKSuite.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala/cats/tagless/tests/OptimizerTests.scala
Due: Label core PRs, Label tests PRs

Replace deprecated resolvers
  build.sbt
Due: none

Replace deprecated resolvers (#631)
  build.sbt
Due: none

Not fatal warnings on Scala.js
  build.sbt
Due: none

Drop implicit scope hack
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
Due: Label core PRs

Update Scala.js
  project/plugins.sbt
Due: none

Added documentation for optimization package (Issue #14)
  docs/docs/index.md
  docs/docs/optimization.md
  examples/src/main/scala-2/cats/tagless/example/OptimizationExample.scala
  tests/src/test/scala/cats/tagless/tests/simple/OptimizationSpec.scala
Due: Label docs PRs, Label examples PRs, Label tests PRs

Fix: Move OptimizationSpec test to correct Scala 2 directory
  tests/src/test/scala-2/cats/tagless/tests/simple/OptimizationSpec.scala
Due: Label tests PRs

Fix: Replace Scala 2.13+ * syntax with ? for Scala 2.12 compatibility
  tests/src/test/scala-2/cats/tagless/tests/simple/OptimizationSpec.scala
Due: Label tests PRs

Fix: Replace Eval with Id for Scala Native compatibility
  tests/src/test/scala-2/cats/tagless/tests/simple/OptimizationSpec.scala
Due: Label tests PRs

Fix: Use proper Scala 2.12 kind-projector syntax and remove unused imports from docs
  docs/docs/index.md
  tests/src/test/scala-2/cats/tagless/tests/simple/OptimizationSpec.scala
Due: Label docs PRs, Label tests PRs

Docs+Tests: fix mdoc unused imports; ensure scalafmt-compliant Scala 2.12 syntax in OptimizationSpec
  docs/docs/optimization.md
  tests/src/test/scala-2/cats/tagless/tests/simple/OptimizationSpec.scala
Due: Label docs PRs, Label tests PRs

Add documentation for each macro annotation
  docs/docs/macros/autoApply.md
  docs/docs/macros/autoApplyK.md
  docs/docs/macros/autoBifunctor.md
  docs/docs/macros/autoContravariant.md
  docs/docs/macros/autoContravariantK.md
  docs/docs/macros/autoFlatMap.md
  docs/docs/macros/autoFunctor.md
  docs/docs/macros/autoFunctorK.md
  docs/docs/macros/autoInstrument.md
  docs/docs/macros/autoInvariant.md
  docs/docs/macros/autoInvariantK.md
  docs/docs/macros/autoMonoidK.md
  docs/docs/macros/autoProductNK.md
  docs/docs/macros/autoProfunctor.md
  docs/docs/macros/autoSemigroupK.md
  docs/docs/macros/autoSemigroupal.md
  docs/docs/macros/autoSemigroupalK.md
Due: Label docs PRs

Fix warnings
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  data/src/main/scala-3/cats/tagless/data/DerivedApplyK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedContravariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedFunctorK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedInvariantK.scala
  data/src/main/scala-3/cats/tagless/data/DerivedSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/data/tests/SemigroupalKSuite.scala
  tests/src/test/scala/cats/tagless/tests/OptimizerTests.scala
Due: Label core PRs, Label data PRs, Label tests PRs

Added documentation file for @autoFunctor
  docs/docs/macros/autoFunctor.md
Due: Label docs PRs

Fix: update broken internal link (optimization.html -> optimization.md) in main docs index
  docs/docs/index.md
Due: Label docs PRs

docs: fix all broken internal doc links and update optimization section reference
  docs/docs/index.md
Due: Label docs PRs

style: apply scalafmt formatting to OptimizationExample.scala and OptimizationSpec.scala
  examples/src/main/scala-2/cats/tagless/example/OptimizationExample.scala
Due: Label examples PRs

fix: scalafmt for OptimizationSpec, doc code blocks compile-only for mdoc stability
  docs/docs/optimization.md
Due: Label docs PRs

fix: make optimization.md code blocks compile-only to prevent mdoc errors
  docs/docs/optimization.md
Due: Label docs PRs

style: fix scalafmt formatting - move = to same line as method definitions
  tests/src/test/scala-2/cats/tagless/tests/simple/OptimizationSpec.scala
Due: Label tests PRs

Fix type name of refinement classes
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  tests/src/test/scala-2/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label macros PRs, Label tests PRs

Fix type name of refinement classes (#653)
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  tests/src/test/scala-2/cats/tagless/tests/AspectTests.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label macros PRs, Label tests PRs

docs: convert all optimization code fences to plain scala (no mdoc) to stabilize microsite
  docs/docs/optimization.md
Due: Label docs PRs

tests: extend OptimizationSpec from CatsTaglessTestSuite to bring cats.syntax in scope
  tests/src/test/scala-2/cats/tagless/tests/simple/OptimizationSpec.scala
Due: Label tests PRs

tests: align package style with suite (nested packages), maintain scalafmt compliance
  tests/src/test/scala-2/cats/tagless/tests/simple/OptimizationSpec.scala
Due: Label tests PRs

Scala 3.7
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/MacroConst.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInstrument.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ApplyKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/ContravariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/FunctorKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/InvariantKSuite.scala
  tests/src/test/scala-3/cats/tagless/data/tests/SemigroupalKSuite.scala
  tests/src/test/scala-3/cats/tagless/tests/AspectTests.scala
Due: Label core PRs, Label tests PRs

Not fatal warnings on Scala.js
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/MacroAspect.scala
  tests/src/test/scala-3/cats/tagless/data/tests/SemigroupalKSuite.scala
Due: Label core PRs, Label tests PRs

Path conditions:
  Label core PRs: any of: ^core/
  Label data PRs: any of: ^data/
  Label docs PRs: any of: ^docs/
  Label examples PRs: any of: ^examples/
  Label fs2 PRs: any of: ^fs2/
  Label laws PRs: any of: ^laws/
  Label macros PRs: any of: ^macros/
  Label tests PRs: any of: ^tests/
