Repository typelevel/cats-tagless: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label docs PRs, Label examples PRs, Label fs2 PRs, Label laws PRs, Label macros PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=typelevel-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@8, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.12.18, temurin@8, rootNative)
  - status-success=Build and Test (ubuntu-latest, 2.13.11, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.11, temurin@8, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.13.11, temurin@8, rootNative)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@8, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@8, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.3.1, temurin@8, rootNative)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label examples PRs
  conditions:
  - files~=^examples/
  actions:
    label:
      add:
      - examples
      remove: []
- name: Label fs2 PRs
  conditions:
  - files~=^fs2/
  actions:
    label:
      add:
      - fs2
      remove: []
- name: Label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add:
      - laws
      remove: []
- name: Label macros PRs
  conditions:
  - files~=^macros/
  actions:
    label:
      add:
      - macros
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^tests/
  actions:
    label:
      add:
      - tests
      remove: []

Scala3 SemigroupalK and InvariantK macros (#513)
  core/src/main/scala-3/cats/tagless/derived/DerivedInvariantK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedSemigroupalK.scala
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label tests PRs

Add ContravariantK Macros
  core/src/main/scala-3/cats/tagless/derived/DerivedContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/macroContravariantK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
Due: Label core PRs, Label tests PRs

Add ContravariantK macro body transformation
  core/src/main/scala-3/cats/tagless/macros/macroContravariantK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
Due: Label core PRs, Label tests PRs

InstanceTests move to the shared scala dir
  tests/src/test/scala-2/cats/tagless/tests/InstanceTests.scala
  tests/src/test/scala/cats/tagless/tests/InstanceTests.scala
Due: Label tests PRs

Use Curried Aliases in the InstanceTests
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala/cats/tagless/tests/InstanceTests.scala
Due: Label tests PRs

More ContravariantK specs
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
Due: Label tests PRs

Scala3 ContravariantK macros (#518)
  core/src/main/scala-3/cats/tagless/derived/DerivedContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/macroContravariantK.scala
  tests/src/test/scala-2/cats/tagless/tests/InstanceTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala/cats/tagless/tests/InstanceTests.scala
Due: Label core PRs, Label tests PRs

Improve SemigroupalK macro
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
Due: Label core PRs, Label tests PRs

Add ApplyK Macros
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/macroApplyK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
Due: Label core PRs, Label tests PRs

Dry out SemigroupalK macro a bit
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
Due: Label core PRs

Move tuple2K projection macro code into a function
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
Due: Label core PRs

Scala3 ApplyK macros and SemigroupalK derivation improvement (#516)
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroApplyK.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
Due: Label core PRs, Label tests PRs

Handle repeated and by-name parameters
  core/src/main/scala-3/cats/tagless/AutoDerive.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
Due: Label core PRs, Label tests PRs

Handle repeated and by-name params in SemigroupalK macro
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
Due: Label core PRs, Label tests PRs

Handle repeated and by-name parameters (#519)
  core/src/main/scala-3/cats/tagless/AutoDerive.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
Due: Label core PRs, Label tests PRs

Hacky solution of the Tuple2K problem
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
Due: Label core PRs, Label tests PRs

Hacky solution of the Tuple2K problem (#520)
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
Due: Label core PRs, Label tests PRs

Use semigroup to combine results in SemigroupalK derivation
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label tests PRs

Use semigroup to combine results in SemigroupalK derivation (#521)
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label tests PRs

Consolidate Derive API between Scala 2 and Scala 3
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedApplyK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedFunctorK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedInvariantK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedSemigroupalK.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApplyK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  tests/src/test/scala-2/cats/tagless/tests/experimental.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/experimental.scala
  tests/src/test/scala/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label macros PRs, Label tests PRs

Consolidate Derive API between Scala 2 and Scala 3 (#522)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedApplyK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedFunctorK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedInvariantK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedSemigroupalK.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroApplyK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  tests/src/test/scala-2/cats/tagless/tests/experimental.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/experimental.scala
  tests/src/test/scala/cats/tagless/tests/simple/ApplyKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/ContravariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label macros PRs, Label tests PRs

Bump tlBaseVersion
  build.sbt
Due: none

Bump tlBaseVersion (#523)
  build.sbt
Due: none

Check binary compatibility against older versions
  build.sbt
Due: none

Check binary compatibility against older versions (#524)
  build.sbt
Due: none

[Scala 3] Add a test for dependent method types
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
Due: Label tests PRs

Refine comment about tlBaseVersion
  build.sbt
Due: none

[Scala 3] Add a test for dependent method types (#531)
  build.sbt
  tests/src/test/scala-3/cats/tagless/tests/autoApplyKTests.scala
Due: Label tests PRs

Add derivation for Functor
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctor.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorTests.scala
Due: Label core PRs, Label tests PRs

Set start year based on GitHub commits / contributors graph
  build.sbt
Due: none

Add derivation for Functor (#532)
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroFunctor.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorTests.scala
Due: Label core PRs, Label tests PRs

Add derivation for Contravariant
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTest.scala
Due: Label core PRs, Label tests PRs

Add derivation for Invariant
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariant.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Add derivation for Contravariant and Invariant (#533)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroContravariant.scala
  core/src/main/scala-3/cats/tagless/macros/MacroInvariant.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTest.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive Bifunctor
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  tests/src/test/scala-3/cats/tagless/tests/autoBifunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive Bifunctor (#534)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  tests/src/test/scala-3/cats/tagless/tests/autoBifunctorTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoContravariantTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive Profunctor
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  tests/src/test/scala-3/cats/tagless/tests/autoProfunctorTests.scala
Due: Label core PRs, Label tests PRs

[Scala 3] Derive Profunctor (#538)
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  tests/src/test/scala-3/cats/tagless/tests/autoProfunctorTests.scala
Due: Label core PRs, Label tests PRs

Add containsAll helper method, a bit more strict check for productK
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroBifunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroProfunctor.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupalK.scala
Due: Label core PRs

[Scala 3] Derive Semigroupal, handle overloads
  core/src/main/scala-3/cats/tagless/Derive.scala
  core/src/main/scala-3/cats/tagless/derived/package.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/MacroSemigroupal.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalTests.scala
Due: Label core PRs, Label tests PRs
