Repository typelevel/cats-tagless: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label docs PRs, Label laws PRs, Label macros PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label laws PRs:
  label:
    add:
    - laws
    remove: []

Label macros PRs:
  label:
    add:
    - macros
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Add FunctorK instance for FS2 Stream
  build.sbt
  fs2/src/main/scala/cats/tagless/fs2/package.scala
Due: none

Fix FunctorK when F occurs only in contravariant position (#440)
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  tests/src/test/scala-2/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupalTests.scala
Due: Label macros PRs, Label tests PRs

Regenerate github workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Try to turn off mima for new module
  build.sbt
Due: none

Set introduced version
  build.sbt
Due: none

Patch as suggested
  build.sbt
Due: none

Scalafmt
  build.sbt
Due: none

Add FunctorK instance for FS2 Stream (#443)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  fs2/src/main/scala/cats/tagless/fs2/package.scala
Due: none

Fallback to Semigroup.first when combining constant return types
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  macros/src/main/scala-2/cats/tagless/autoSemigroupK.scala
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupalTests.scala
Due: Label macros PRs, Label tests PRs

Fix combineK, product and productK to require Semigroup
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
Due: Label macros PRs

Derive SemigroupK
  examples/src/main/scala-2/cats/tagless/example/ValidationExample.scala
  macros/src/main/scala-2/cats/tagless/Derive.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
Due: Label macros PRs

Add autoSemigroupK annotation
  examples/src/main/scala-2/cats/tagless/example/ValidationExample.scala
  macros/src/main/scala-2/cats/tagless/autoSemigroupK.scala
Due: Label macros PRs

Add tests for autoSemigroupK
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupKTests.scala
Due: Label tests PRs

Derive SemigroupK (#441)
  examples/src/main/scala-2/cats/tagless/example/ValidationExample.scala
  macros/src/main/scala-2/cats/tagless/Derive.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  macros/src/main/scala-2/cats/tagless/autoSemigroupK.scala
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupKTests.scala
  tests/src/test/scala-2/cats/tagless/tests/autoSemigroupalKTests.scala
Due: Label macros PRs, Label tests PRs

Derive MonoidK, fix SemigroupK
  macros/src/main/scala-2/cats/tagless/Derive.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  macros/src/main/scala-2/cats/tagless/autoMonoidK.scala
  tests/src/test/scala-2/cats/tagless/tests/autoMonoidKTests.scala
Due: Label macros PRs, Label tests PRs

Derive MonoidK, fix SemigroupK (#445)
  macros/src/main/scala-2/cats/tagless/Derive.scala
  macros/src/main/scala-2/cats/tagless/DeriveMacros.scala
  macros/src/main/scala-2/cats/tagless/autoMonoidK.scala
  tests/src/test/scala-2/cats/tagless/tests/autoMonoidKTests.scala
Due: Label macros PRs, Label tests PRs

Update sbt-microsites
  project/plugins.sbt
Due: none

Generate Mergify
  .mergify.yml
Due: none

Generate ci.yml
  .github/workflows/ci.yml
Due: none

Regenerate GitHub workflow
  .github/workflows/ci.yml
Due: none

Remove nowarn
  core/src/main/scala/cats/tagless/implicits.scala
Due: Label core PRs

Simplify methodApply
  core/src/main/scala-3/cats/tagless/macros/Utils.scala
Due: Label core PRs

Uncomment more tests, some of the issues got fixed by bumping the Scala compiler version up
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
Due: Label tests PRs

Scala3 Macros FunctorK prototype
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/Utils.scala
  core/src/main/scala-3/cats/tagless/macros/macroFunctorK.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala/cats/tagless/tests/CatsTaglessTestSuite.scala
  tests/src/test/scala/cats/tagless/tests/OptimizerPrograms.scala
  tests/src/test/scala/cats/tagless/tests/OptimizerTests.scala
Due: Label core PRs, Label tests PRs

Handle more members
  core/src/main/scala-3/cats/tagless/macros/Utils.scala
  core/src/main/scala-3/cats/tagless/macros/macroFunctorK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
Due: Label core PRs, Label tests PRs

Disable pattern-shadow lint
  build.sbt
  examples/src/main/scala-2/cats/tagless/example/ValidationExample.scala
Due: none

Bump Scala, use experimental flag
  build.sbt
  core/src/main/scala-3/cats/tagless/derived/DerivedFunctorK.scala
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/Utils.scala
  core/src/main/scala-3/cats/tagless/macros/macroFunctorK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
Due: Label core PRs, Label tests PRs

Update Ruby and Jekyll
  .github/workflows/ci.yml
  README.md
  build.sbt
  docs/docs/index.md
  docs/docs/typeclasses.md
Due: Label docs PRs

Use Java 11 for mdoc
  .github/workflows/ci.yml
  build.sbt
Due: none

Fix Jekyll and Kramdown versions
  .github/workflows/ci.yml
  build.sbt
Due: none

Update Ruby and Jekyll (#507)
  .github/workflows/ci.yml
  README.md
  build.sbt
  docs/docs/index.md
  docs/docs/typeclasses.md
Due: Label docs PRs

Remove scalafmtSbtCheck from validateJVM
  build.sbt
Due: none

Exclude metals.sbt from scalafmt
  .scalafmt.conf
Due: none

Exclude metals.sbt from scalafmt (#511)
  .scalafmt.conf
Due: none

Hash out FunctorK implementation
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/Utils.scala
  core/src/main/scala-3/cats/tagless/macros/macroFunctorK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/FunctorKSpec.scala
Due: Label core PRs, Label tests PRs

Downgrade to Scala 3.3.3 for Scala Native
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/FunctorKSpec.scala
Due: Label core PRs, Label tests PRs

Scala3 FunctorK macros (#442)
  build.sbt
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroFunctorK.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoFunctorKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/FunctorKSpec.scala
  tests/src/test/scala/cats/tagless/tests/CatsTaglessTestSuite.scala
  tests/src/test/scala/cats/tagless/tests/OptimizerPrograms.scala
  tests/src/test/scala/cats/tagless/tests/OptimizerTests.scala
Due: Label core PRs, Label tests PRs

Add SemigroupalK and poorpersons InvariantK
  core/src/main/scala-3/cats/tagless/derived/DerivedInvariantK.scala
  core/src/main/scala-3/cats/tagless/derived/DerivedSemigroupalK.scala
  core/src/main/scala-3/cats/tagless/macros/Derive.scala
  core/src/main/scala-3/cats/tagless/macros/DeriveMacros.scala
  core/src/main/scala-3/cats/tagless/macros/macroInvariantK.scala
  core/src/main/scala-3/cats/tagless/macros/macroSemigroupalK.scala
  tests/src/test/scala-3/cats/tagless/tests/TestAlgebras.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/Fixtures.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/InvariantKSpec.scala
  tests/src/test/scala-3/cats/tagless/tests/simple/SemigroupalKSpec.scala
Due: Label core PRs, Label tests PRs

fmt
  core/src/main/scala-3/cats/tagless/macros/macroInvariantK.scala
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
  tests/src/test/scala-3/cats/tagless/tests/autoSemigroupalKTests.scala
Due: Label core PRs, Label tests PRs

Uncomment more invariantK tests
  tests/src/test/scala-3/cats/tagless/tests/autoInvariantKTests.scala
Due: Label tests PRs

Path conditions:
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label laws PRs: any of: ^laws/
  Label macros PRs: any of: ^macros/
  Label tests PRs: any of: ^tests/
